@model IEnumerable<ProjetoOdontoPrev.Models.Clinica>

@{
    ViewData["Title"] = "Agendamento Realizado";
}

<h2>Agendamento Realizado</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome da Clínica</th>
            <th>CEP</th>
            <th>Distancia</th>
            <th>Nota</th>
            <th>Pontuação</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clinica in Model)
        {
            <tr>
                <td>@clinica.NomeClinica</td>
                <td>@clinica.CEP_Clinica</td>
                <td>@clinica.DistanciaReal</td>
                <td>@clinica.NotaPesquisa</td>
                <td>@clinica.Pontuacao</td>
                <td>@clinica.StatusClinica</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Voltar para o Início</a>
